*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(219, 135, 25);
    height: 55px;
    width: 100%;
    position: fixed;
    z-index: 5;
}

header h1{
    position: absolute;
    left: 2vw;
    top: 0;
    line-height: 55px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header ul{
    font-size: 14px;
    position: absolute;
    right: 1vw;
    top: 0;
    line-height: 55px;
}
header a{
    color: rgb(77, 14, 8);
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
header li{
    display: inline;
    margin-right: 1vw;
}

.coin{
    background-image:url(photo/coin.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size:auto 14px;
    padding-left: 18px;
}
.calendar{
    background-image:url(photo/calendar.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size:auto 14px;
    padding-left: 18px;
}
.traffic{
    background-image:url(photo/map.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size:auto 14px;
    padding-left: 18px;
}
.language{
    background-image:url(photo/globe.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size:auto 14px;
    padding-left: 18px;
}
.top_link{
    display: flex;
}
.menu{
    background-color: rgb(237, 71, 34);
    padding-top: 55px;
    padding-left: 1vw;
    padding-right: 0.5vw;
    display:flex;
    flex-direction:row;
}
.icon_button{
    width: 20vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 2vw;
    font-weight:400;
    font-size:14px;
    color: azure;
    cursor: pointer;
}

.icon_button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.icon_text{
    padding: 10px 0px;
}

.mainphoto{
    padding-top: 40px;
    width: 100%;
}
.information{
    display: flex;
    justify-content: center;
    flex-direction:column;
    background-color: rgb(253, 245, 236);
}
.paraph_area{
    text-align: center;
    font-size: 3vw;
    color: rgb(107, 36, 10);
    margin-top: 20px;
    margin-bottom: 20px;
}

.content{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 50px;
    flex-direction:column;
}

.photostyle{
    border-radius: 10px;
    z-index:4;
}

.text_box{
    background-color: white;
    position:relative;
    top: -180px;
    padding:1.5vw;
    z-index:3
}
.h1_style{
    margin-left: 52vw;
    font-size: 4vw;
    color: rgb(235, 93, 5);
    font-weight: 500;
}
.h2_style{
    margin-left: 52vw;
    font-size: 2vw;
    color: rgb(235, 93, 5);
     font-weight: 600;
}
.p_style{
    margin-left: 52vw;
    font-size: 2vw;
    color: rgb(52, 32, 3);
    margin-bottom:10px;
}
.button_act{
    font-size: 2vw;
    font-weight: 500;
    color: rgb(221, 45, 5);
    border: orangered solid 2px;
    text-align: center;
    border-radius: 20px;
    padding: 2px;
    margin-left:70vw;
    cursor: pointer;
    margin-bottom: 5px;   
}

.button_act:hover{
    transform: scale(0.95);
    transition: 0.1s;
}

.photostyle{
    width:50vw;
}
.bg_decor{
    width:70vw ;
    position:relative;
    left: -100px;
    top:-250px;
    z-index: 2;
}
.bg_decor2{
    width:70vw ;
    position:relative;
    right: -400px;
    top:-250px;
    z-index: 2;
    transform: scaleX(-1);
}

.news{
background-color: rgb(148, 105, 40);

margin-top: -250px;
padding-bottom: 40px;
}

.news_content{
    font-size:2.5vw;
    background-color: rgb(128, 83, 21,0.6);
    margin: 10px 40px;
    padding: 30px 20px;
    color: rgb(253, 229, 201);
    cursor: pointer;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.news_link{
    margin-top: 30px;
    text-align:center;
    font-size: 3vw;
    cursor: pointer;
    text-decoration: underline;
}

.news_link:hover{
    color: rgb(255, 241, 220);
}

footer{
    padding-top: 20px;
    background-color: antiquewhite;
    display:flex;
    justify-content:space-between;
}
footer ul{
    display:flex;
    flex-direction:row;
    font-size: 15px;
}
footer a{
    padding-inline:13px;
    text-decoration: none;
    color: rgb(184, 32, 32);
    margin-left:-10px ;
    margin-bottom:10px ;
    font-size: 2vw;
}
footer img{
    height: 6vw;
    cursor: pointer;
margin: 2vw 4vw;
}

footer p{
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
}
.ft_left{
    margin: 2vw;
}